.header-container {
    display:flex;
    flex-direction: column;
    text-align: center;
    background-image: url("/media/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 0;
    max-width: 100%;
    height: 250px;
    margin: 0 auto;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: px solid white;
    background-size: cover;
    margin: 0 auto;
}

.home-name{
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
}

.info{
    margin: 0.15rem 0;
}

@media (max-width: 768px) {
    .header-container {
        height: 200px;
    }
}