html{
  overflow-y: scroll;
}

#root{
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(130, 170, 173);

}

p{
  color:white;
  text-shadow: 2px 2px 4px black;
}

h1{
  color:white;
  text-shadow: 2px 2px 4px black;
  font-size: 50px;
}

h2{
  color:white;
  text-shadow: 2px 2px 4px black;
}