html{
  overflow-y: scroll;
}

#root{
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(130, 170, 173);

}

p{
  color:white;
  text-shadow: 2px 2px 4px black;
}

h1{
  color:white;
  text-shadow: 2px 2px 4px black;
  font-size: 50px;
}

h2{
  color:white;
  text-shadow: 2px 2px 4px black;
}

.header-container{
  text-align: center;
  background-image: url(./assets/header-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 0;
  max-width: 100%;
}

.profile-picture{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin: 20px;
}

.project-card{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 500px;
  text-align: center;
  border: 4px solid rgb(39, 39, 39);
  border-radius: 5px;
  padding:10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  
}

.project-video{
  width: 500px;
  height: 300px;
  object-fit:cover;
  border-radius: 8px;
}

.project-button{
  width:100px;
  height: 50px;
  display:block;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 768px){
  .header-container{
    height: 200px;
  }
}